<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Instruction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>

    <!--the something wrong with bootstrap, thats y m accessing from the net-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>

<div id = "container page_header">
    <!-- creating the menu bar for the page -->
    <nav class="navbar nav-tabs navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="Survey.html">Survey</a></li>
                    <li><a href="Instruction.html">Instruction</a></li>
                    <li><a href="Question.html">Question</a></li>
                    <!-- i need to add the buttons for login,reg,forgot pass -->


                </ul>
            </div>

        </div>
    </nav>
</div>

<body ng-app="surveys" ng-controller="surveyController">
<div class="Container" align="center" >
    <div class="col-md-4 col-md-offset-4">
        <div><h3 align="center">Add instruction to survey</h3></div>
        <label for="surveyName">Select a survey</label><br>

        <div class="SurveyOptions" >
            <select id="selected" ng-model="picker" >
                <option ng-repeat="survey in surveys">{{survey.surveyName}}</option>

            </select>

        </div>

        <br>
        <div >
            <label for="Name">Name</label>
            <input type="text" class="form-control" ng-model="Name">

            <label for="description">Description</label>
            <textarea name="description" class="form-control" type="text" required cols="45" rows="5" ng-model="description"></textarea>

            <label for="instructionOrder">Order of Instruction</label>
            <input type="text" class="form-control" ng-model="instructionOrder">
            <br>
            <button type="submit" class="btn btn-success" ng-click="addInstruction()">Save</button>
            <button type="reset" class="btn btn-danger" >Cancel</button>






        </div>



    </div>



</div>
<div class="container" >
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Survey Name</th>
            <th>Description</th>
            <th>Instruction Order</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="instruction in instructions">
            <td>{{instruction.picker}}</td>
            <td>{{instruction.description}}</td>
            <td>{{instruction.instructionOrder}}</td>
            <td><button type="button" class="btn btn-danger" ng-click="deleteInstruction(instr)">Delete</button></td>

        </tr>
        </tbody>

    </table>

</div>




</body>

<!--
<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >
                Select a survey
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" ng-click="selectedItem()">
                <li  ><a href="#">  {{survey.surveyName}}</a></li>

            </ul>
-->
</html>