<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>




</head>
<div id = "container page_header">
    <!-- creating the menu bar for the page -->
    <div id="Header"> </div>
    <nav class="navbar nav-tabs navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="Survey.html">Survey</a></li>
                    <li><a href="Instruction.html">Instruction</a></li>
                    <li><a href="Question.html">Question</a></li>
                    <!-- i need to add the buttons for login,reg,forgot pass -->


                </ul>
            </div>

        </div>
    </nav>
</div>
<div id="Content">
    <div id="PageHeader">
        <p>&nbsp;</p>
    </div>
</div>

<body ng-app="surveys" ng-controller="surveyController">

    <form data-toggle="validator" role="form">

        <div class="Container" align="center" class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <div><h3 align="center">Create a new survey</h3></div>
                <label for="surveyName">Name</label>
                <input type="text" class="form-control"  ng-model="surveyName" required>


                <label for="Description">Description</label>
                <textarea name="Description" class="form-control" type="text"  cols="45" rows="5" ng-model="description" required></textarea>

                <label for="TimeFrame">Time Frame</label>
                <input type="text" class="form-control" ng-model="timeFrame" required>
                <br>
                <button type="submit" class="btn btn-success" ng-click="addSurvey()">Save</button>
                <button type="reset" class="btn btn-danger">Cancel</button>

            </div>
        </div>

    </form>

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Survey Name</th>
                <th>Description</th>
                <th>Time Frame</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="survey in surveys">
                <td>{{survey.surveyName}}</td>
                <td>{{survey.description}}</td>
                <td>{{survey.timeFrame}}</td>
                <td><button type="button" class="btn btn-danger" ng-click="deleteSurvey(survey)">Delete</button></td>

            </tr>
            </tbody>

        </table>

    </div>

</body>
</html>